* {
  margin: 0;
  padding: 0;
}

.app {
  overflow: hidden;
}

.section1 {
  background-color: rgb(56, 56, 56);
  transition: 1s ease-in-out;
  min-height: 100vh;
}
.section2 {
  background: red;
  transition: 1s ease-in-out;
}
.section3 {
  background: yellow;
  transition: 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section4 {
  background: green;
  transition: 1s ease-in-out;
}
.section5 {
  transition: 1s ease-in-out;
}
