* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
// .app {
//   overflow: hidden;
// }

.section1 {
  transition: 0.9s ease-in-out;
}
.section2 {
  transition: 0.9s ease-in-out;
}
.section3 {
  transition: 0.9s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section4 {
  transition: 0.9s ease-in-out;
}
.section5 {
  transition: 0.9s ease-in-out;
}
