.navbar {
  height: 40px;
  width: 90%;
  position: fixed;
  z-index: 2;
  border: 2px solid white;
  border-radius: 20rem;
  background-color: #a3b4d5;
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 20px 10px #a3b4d5;
  margin-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
  button {
    font-size: 1.3rem;
    background-color: #a3b4d5;
    color: aliceblue;
    border: none;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      color: #6e93bd;
    }
  }
  &__text {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
}

@media all and (max-width: 1000px) {
  .navbar {
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;

    &__text {
      justify-content: space-around;
      font-size: 1.3rem;
    }
  }
}
@media all and (max-width: 800px) {
  .navbar {
    text-align: center;
    justify-content: center;
    align-items: center;

    &__text {
      justify-content: space-around;
      font-size: 1.3rem;
    }
    button {
      font-size: 1rem;
    }
  }
}

@media all and (max-width: 750px) {
  .navbar {
    width: 90%;
    text-align: center;
    justify-content: space-around;
    align-items: center;

    &__text {
      justify-content: space-around;
      font-size: 1.3rem;
    }
  }
}

@media all and (max-width: 600px) {
  .navbar {
    width: 90%;
    text-align: center;
    justify-content: space-around;
    align-items: center;

    &__text {
      justify-content: space-around;
      font-size: 1rem;
    }
  }
}
@media all and (max-width: 500px) {
  .navbar {
    width: 90%;
    text-align: center;
    justify-content: space-around;
    align-items: center;

    button {
      justify-content: space-around;
      font-size: 0.9rem;
      gap: 20px;
    }
  }
}
@media all and (max-width: 400px) {
  .navbar {
    width: 90%;
    text-align: center;
    justify-content: space-around;
    align-items: center;

    button {
      justify-content: space-around;
      font-size: 0.7rem;
      &:hover {
        transform: scale(1);
        color: #6e93bd;
      }
    }
  }
}
@media all and (max-width: 300px) {
  .navbar {
    width: 90%;
    text-align: center;
    justify-content: space-around;
    align-items: center;

    button {
      justify-content: space-around;
      font-size: 0.5rem;
    }
  }
}
