.competence {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  color: aliceblue;
  margin-top: 18vh;
  &__logo {
    display: flex;
    flex-wrap: wrap;
    height: 6rem;
  }
  img {
    display: flex;
    flex-wrap: wrap;
    height: 4.5rem;

    &:hover {
      transform: scale(1.25);
    }
  }
}

@media all and (max-width: 400px) {
  .competence {
    font-size: 0.7rem;
    margin-top: 0;
    gap: 0;
    img {
      height: 40px;
      width: 40px;
    }
  }
}
